/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0px;
	margin: 0px;
	padding: 0px
}

body {
  font-family: 'Raleway', sans-serif;
	background: #F1F5EC;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	background-image: url('../assets/hero-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.navinfo {
	width: 100%;
	height: 30px;
	background: #033A63;
}
.container-navinfo {
	max-width: 1180px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navinfo span {
	font-size: 0.8rem;
	color: #F1F5EC;
	margin: 5px 0px 5px 0px;
}
.ion-social-facebook, .ion-social-instagram {
	color: #F1F5EC;
	font-size: 1rem;
	margin: 2px 7px 2px 7px;
	transition: .2s;
}
.ion-social-facebook:hover, .ion-social-instagram:hover {
	color: #FDC660;
	transition: .2s;
}
.icon-mobile {
	display: none;
}
.subNavbar {
	width: 100%;
	background: #033F6C;
}
.container-subNavbar {
	max-width: 1180px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px 20px 0px;
}
.menu-mobile {
	display: none;
}
.menu {
	display: flex;
}
.menu li a {
	color: #F1F5EC;
	margin: 0px 20px 0px 0px;
	font-size: 1.125rem;
	text-decoration: none;
	transition: .2s;
	font-weight: bold;
}
.menu li a:hover {
	color: #FDC660;
	transition: .2s;
	font-weight: bold;
}
@media (max-width: 320px) {
	.navinfo {
		display: none;
	}
	.menu {
		display: none;
	}
	.brand {
		max-width: 70%;
		margin: 0px 0px 0px 5px;
	}
}
@media (min-width: 320px) and (max-width: 780px) {
	.navinfo {
		display: none;
	}
	.menu {
		display: none;
	}
	.brand {
		max-width: 70%;
		margin: 0px 0px 0px 5px;
	}
	
}
/* hero */
.hero-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.hero-box h1{
	color: #F1F5EC;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: 900;
	max-width: 620px;
	text-align: center;
	margin: -100px 0px 10px 0px;
}
.hero-box span {
	color: #F1F5EC;
	font-size: 1.5625rem;
	font-weight: lighter;
	max-width: 500px;
	text-align: center;
	line-height: 2rem;
	margin-bottom: 20px;
}
.btnOrcamento {
	background: #FDC660;
	color: #033F6C;
	text-transform: uppercase;
	font-weight: 800;
	padding: 15px 20px 15px 20px;
	border: 0px;
	border-radius: 100px;
	cursor: pointer;
	transition: .2s;
	text-decoration: none;
}
.btnOrcamento:hover {
	background-color: #033F6C;
	color: #FDC660;
	transition: .2s;
}
.box-btn-slide {
	bottom: 0;
	margin-bottom: -25px;
	position: absolute;
}
.btnOne img{
	background: #FDC660;
	padding: 5px 5px;
}
.btnTwo img {
	background: #033F6C;
	padding: 5px 5px;
}
@media (max-width: 320px) {
	.hero-box h1 {
		font-size: 2.0rem;
		max-width: 80%;
	}
	.hero-box span {
		font-size: 1.0rem;
		max-width: 80%;
		line-height: 1.2rem;
	}
}
@media (min-width: 320px) and (max-width: 780px) {
	.hero-box h1 {
		font-size: 2.5rem;
		max-width: 80%;
	}
	.hero-box span {
		font-size: 1.2rem;
		max-width: 80%;
		line-height: 1.2rem;
	}
}

/* Title */
.section-title {
	text-align: center;
	width: 100%;
	height: 100%;
}
.section-title h2 {
	padding: 70px 0px 20px 0px;
	font-size: 2.25rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: 900;
	color: #3B3F4A;
}
.section-title span {
	display: inline-block;
	max-width: 680px;
	font-size: 1.5rem;
	text-align: center;
	font-weight: lighter;
}
.section-title-2 h2 {
	color: #F1F5EC;
}
.section-title-2 span {
	color: #F1F5EC;
}

@media (max-width: 320px) {
	.section-title h2 {
		font-size: 2.0rem;
	}
	.section-title span {
		font-size: 1.0rem;
		max-width: 80%;
	}
}
@media (min-width: 320px) and (max-width: 780px) {
	.section-title h2 {
		font-size: 2.0rem;
	}
	.section-title span {
		font-size: 1.2rem;
		max-width: 80%;
	}
}

/* services */
.Sevices {
	width: 100%;
	height: 100%;
}
.container-services {
	max-width: 1180px;
	margin: auto;
	padding: 70px 0px 70px 0px;
}
.box-services {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.item-service {
	max-width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.item-service img {
	max-width: 100%;
	padding: 0px 0px 30px 0px;
}
.item-service h3 {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: 900;
	color: #3B3F4A;
	max-width: 250px;
	text-align: center;
	padding: 0px 0px 20px 0px;
}
.item-service p {
	font-size: 1rem;
	text-align: center;
	max-width: 250px;
	color: #3B3F4A;
}
@media (max-width: 320px) {
	.box-services {
		flex-direction: column;
	}
	.item-service {
		max-width: 100%;
		margin: 0px 0px 30px 0px;
	}
}
@media (min-width: 320px) and (max-width: 780px) {
	.box-services {
		flex-direction: column;
	}
	.item-service {
		max-width: 100%;
		margin: 0px 0px 30px 0px;
	}
}

/* About */

.About {
	width: 100%;
	background: #033F6C;
}
.container-about {
	max-width: 1180px;
	margin: auto;
	padding: 70px 0px 0px 0px;
}
.box-icone-about {
	margin: auto;
	width: 450px;
	display: flex;
	justify-content: space-around;
}
.box-text p {
	max-width: 920px;
	font-size: 1.0rem;
	line-height: 1.5rem;
	color: #F1F5EC;
	text-align: center;
	padding: 50px 0px 50px 0px;
	margin: auto;
}
@media (max-width: 320px) {
	.box-icone-about {
		width: 100%;
	}
	.box-icone-about img{
		width: 70px;
		height: 70px;
	}
	.box-text p {
		margin: 0px 10px 0px 10px;
		max-width: 100%;
	}
}
@media (min-width: 320px) and (max-width: 780px) {
	.box-icone-about {
		width: 70%;
	}
	.box-icone-about img{
		width: 70px;
		height: 70px;
	}
	.box-text p {
		margin: 0px 10px 0px 10px;
		max-width: 100%;
	}	
}
.box-subAbout {
	width: 100%;
	background-image: url('../assets/bg-about.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px 0px 70px 0px;
}
.container-subAbout {
	max-width: 1180px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px 0px 0px 0px;
}
.item-subAbout {
	width: 33%;
}
.item-subAbout h3 {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: 900;
	color: #F1F5EC;
}
.item-subAbout h3::after {
	content: '';
	display: block;
	width: 50px;
	height: 8px;
	color: #FDC660;
	background-color: #FDC660;
	margin: 10px 0px 20px 0px;
}
.item-subAbout p {
	font-size: 1.0rem;
	line-height: 1.5rem;
	color: #F1F5EC;
}
@media (max-width: 320px) {
	.container-subAbout {
		flex-direction: column;
	}
	.item-subAbout {
		width: 100%;
		padding: 20px 10px 0px 10px;
	}
	.item-subAbout p {
		max-width: 80%;
	}
}
@media (min-width: 320px) and (max-width: 780px) {
	.container-subAbout {
		flex-direction: column;
	}
	.item-subAbout {
		width: 100%;
		padding: 20px 10px 0px 10px;
	}
	.item-subAbout p {
		max-width: 80%;
	}
}

/* Projects */
.Projects {
	width: 100%;
	height: 100%;
}
.container-projects {
	max-width: 100%;
	height: 100%;
	padding: 70px 0px 0px 0px;
}
.menu-projects {
	display: flex;
	justify-content: center;
}
.menu-projects li a{
	margin: 0px 10px 0px 10px;
	font-size: 1.0rem;
	text-transform: uppercase;
	color: #3B3F4A;
	text-decoration: none;
	transition: .2s;
}
.menu-projects li a:hover {
	font-weight: bold;
	color: #033F6C;
	transition: .2s;
}
.main-project {
	padding: 30px 0px 0px 0px;
	display: flex;
	flex-wrap: wrap;
}
.main-project .boxProject {
	width: 25%;
}
.boxProject {
	overflow: hidden;
	background: #033F6C;
}
.boxProject .imgBox {
	position: relative;
}
.boxProject .imgBox .imgItem {
	width: 100%;
	transition: .2s;
}
.boxProject:hover .imgBox .imgItem {
	opacity: .2;
	transform: scale(1.2)
}
.boxProject .imgContent {
	position: relative;
	background-color: #FDC660;
	width: 100%;
	height: 100%;
	top: 50%;
	z-index: 999;
	box-sizing: border-box;
} 
.boxProject .imgContent h4 {
	margin: 0;
	padding: 0;
	position: absolute;
	color: #fff;
	z-index: 999;
	
} 
.boxProject:hover .imgContent h4 {
	opacity: 1;
	visibility: hidden;
} 
.imgP {
	max-width: 100%;
}
@media (max-width: 320px) {
	.menu-projects {
		flex-direction: column;
		text-align: center;
	}
	.menu-projects li a {
		display: block;
		margin: 0px 0px 20px 0px;
	}
	.main-project {
		display: block;
		max-width: 100%;
	}
	.main-project .boxProject {
		width: 100%;
		margin: auto;
	}
	.boxProject {
		margin: auto;
		display: block;
	}
}
@media (min-width: 320px) and (max-width: 780px) {
	.menu-projects {
		flex-direction: column;
		text-align: center;
	}
	.menu-projects li a {
		display: block;
		margin: 0px 0px 20px 0px;
	}
	.main-project {
		display: block;
		max-width: 100%;
	}
	.main-project .boxProject {
		width: 100%;
		margin: auto;
	}
	.boxProject {
		margin: auto;
		display: block;
	}
}
.assessments {
	width: 100%;
	display: block;
	padding: 50px 0px 70px 0px;
	background-image: url('../assets/bg-testemunhas.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.assessments span {
	display: block;
	margin: 0px 0px 30px 0px;
	text-align: center;
}
.assessments p {
	font-size: 1.0rem;
	color: #F1F5EC;
	margin: auto;
	text-align: center;
	max-width: 720px;
	line-height: 1.5rem;
}
.assessments cite {
	font-size: 1.0rem;
	color: #FDC660;
	font-weight: bold;
	text-transform: uppercase;
	margin: 40px 0px 0px 0px;
	text-align: center;
	display: block;
}
@media (max-width: 320px) {
	.assessments p {
		max-width: 80%;
	} 
}
@media (min-width: 320px) and (max-width: 780px) {
	.assessments p {
		max-width: 80%;
	} 
}
/* Contacts */
.Contacts {
	width: 100%;
	height: 100%;
}
.container-contact {
	padding: 70px 0px 70px 0px;
	max-width: 1180px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
.plus-contacts {
	width: 50%;
}
.plus-contacts h3 {
	font-size: 1.5rem;
	color: #3B3F4A;
	font-weight: 900;
	margin: 0px 0px 30px 0px;
}
.plus-contacts p {
	font-size: 1.0rem;
	color: #3B3F4A;
	line-height: 1.5rem;
	margin: 0px 0px 20px 0px;
	max-width: 400px;
}
.plus-contacts ul li {
	font-size: 1.0rem;
	color: #3B3F4A;
	margin: 0px 0px 10px 0px;
}
.form-contacts {
	width: 50%;
}
.inputText {
	width: 100%;
	height: 30px;
	border: 2px solid #033F6C;
	background: transparent;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 10px;
	color: #033F6C;
	font-weight: bold;
}
textarea {
	width: 100%;
	height: 60px;
	border: 2px solid #033F6C;
	margin: 0px 0px 20px 0px;
	padding: 5px 0px 0px 10px;
	background: transparent;
	color: #033F6C;
	font-weight: bold;
}
.btnForm {
	background: #033F6C;
	color: #FDC660;
	text-transform: uppercase;
	font-weight: 800;
	padding: 10px 60px 10px 60px;
	border: 0px;
	border-radius: 100px;
	cursor: pointer;
	transition: .2s;
}
.btnForm:hover {
	background: #FDC660;
	color: #033F6C;
	transition: .2s;
}
@media (max-width: 320px) {
	.container-contact {
		flex-direction: column-reverse;
	}
	.plus-contacts {
		width: 100%;
		padding: 0px 10px 0px 10px;
	}
	.plus-contacts p, .plus-contacts li a {
		max-width: 220px;
	}
	.form-contacts {
		width: 100%;
		padding: 0px 0px 20px 0px;
	}
	.box-form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.inputText {
		width: 90%;
	}
	textarea {
		width: 90%;
	}
}
@media (min-width: 320px) and (max-width: 780px) {
	.container-contact {
		flex-direction: column-reverse;
	}
	.plus-contacts {
		width: 100%;
		padding: 0px 10px 0px 10px;
	}
	.plus-contacts p, .plus-contacts li a {
		max-width: 220px;
	}
	.form-contacts {
		width: 100%;
		padding: 0px 0px 20px 0px;
	}
	.box-form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.inputText {
		width: 90%;
	}
	textarea {
		width: 90%;
	}
}
/* footer */
footer {
	width: 100%;
	padding: 40px 0px 40px 0px;
	background: #033F6C;
}
footer span{
	display: block;
	color: #F1F5EC;
	text-align: center;
}